body {
    width: 100vw;
    height: 100vh;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    background-color: #929697;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
